h1 {
  text-align: center;
}

.form {
  padding-bottom: 28px;
  text-align: center;
  background-color: bisque;
  
}

th, td{
    padding: 10px;
    border: solid black 1px;
    text-align: center;
}

table{
    margin: 0 auto;
}

/* .formContainer{
    position: fixed;
} */